.login{
    background: #f0f2f5;
    min-height: 100vh;
    position: absolute;
    width: 100%;
}
.login .container{
    margin: 100px auto;
    text-align: center;
    width: 396px;
    background: #fff;
    border-radius: 8px;
    float: none;
    color: #1c1e21;
    padding-bottom: 44px;
    padding-top: 44px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    

}
.form-login{
    margin: 0;
    padding: 0;
    display: block;
}

.login div{
    display: block;
}

.login input{
    background: #fff;
    color: #1c1e21;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin-top: 16px;
}
.login .button{
    background: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    margin-top: 16px;

}

